<div class="w-full">
  <div class="flex items-center justify-between bg-white p-8 m-2 h-28 rounded-md">
    <div style="width: 15%">
    <%= image_tag @category.icon, alt: 'icon', class: "img" %>
    </div>
    <div class="flex flex-col align-start gap-2 text-zinc-500">
      <p class="text-[1.5rem]"><%= @category.name %></p>
      <p class="text-xs"><%= @category.created_at.strftime('%d %B, %Y') %></p>
    </div>
    <p class="text-zinc-900 text-[1.5rem]">$<%= @category.total %></p>
    <%= button_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, category_path(@category.id), method: :delete, class: "text-[1.5rem]" %>
  </div>
  <div class="flex mt-8 items-center flex-col mx-4 gap-6">
    <h2 class="text-zinc-900 text-[2rem]">Expenditures</h2>
    <%if @category.expenditures.empty? %>
      <p class="text-zinc-500">No expenditures recorded yet</p>
    <% else %>
      <% @category.expenditures.order(created_at: :desc).each do |exp| %>
        <div class="flex gap-10 justify-between items-center bg-white px-6 h-20 relative w-[75%] rounded-md">
          <p><%= exp.name %></p>
          <p>$<%= exp.amount %></p>
          <%= button_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, category_expenditure_path(@category.id, exp.id), method: :delete, class: "text-[1rem]" %>
        </div>
      <% end %>
    <% end %>  
  </div>
  <div class="absolute bottom-0 flex flex-col gap-6 w-full">
    <%= link_to '<i class="fa-solid fa-circle-chevron-left"></i> All Categories'.html_safe, categories_path, class: "text-[1.5rem] back"%>
    <button class="btn w-full p-6 text-white ">
    <%= link_to '<i class="fa-solid fa-circle-plus"></i> New Expenditure'.html_safe, new_category_expenditure_path(@category.id), class: "border-white border border-solid p-4 w-full pl-20 pr-20 rounded-md" %>
    </button>

</div>
